html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}  
    
h1 {
     color: rgb(163, 178, 247);
     text-align: center;
}

nav {
    text-align: center;
    background-color: rgb(163, 178, 247);
    height: 100px;
    font-size: 2rem;
}
    
header, footer, .footer-credits a {
    background-color: rgb(163, 178, 247);
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white
    padding: 20px;
    margin: auto;
    text-decoration: none;
}

p {
    margin: auto;
    color: black;
    text-align: center;
}

li {
    text-align: left
}

img {
    align: left;
    height: 300px
}

a {
color: white
}

main {
    margin: auto;
    background-color: rgb(255, 255, 255);
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}
