html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
    position: sticky;
}  
    
h1 {
     color: rgb(163, 178, 247);
     text-align: center;
}

h2 {
    text-align: center;
    color:rgb(163, 178, 247)
}

nav {
    text-align: center;
    background-color: rgb(163, 178, 247);
    height: 100em;
    font-size: 2rem;
}

main {
    border: 4px solid black;
    display: block;
    position: sticky;
    margin: auto;
    background-color: rgb(255, 255, 255);
}
    
header, footer, .footer-credits a {
    background-color: rgb(163, 178, 247);
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white
    padding: 20px;
    margin: auto;
    text-decoration: none;
}

section {

    margin-bottom: 150px;

}

p {
    margin: auto;
    color: black;
    text-align: center;
    padding: 3em;
    font-size: 16pt;
}

.maintext {

    text-align: left;
    padding-top: 1em;
    padding-right: 5em;
    font-size: 16pt;

}

img {
    height: 20em;
    display: block;
    margin-top: 2em;
    margin-bottom: 2em;
}

.mainphoto {
    float: left;
    padding-left: 3em;
    padding-right: 3em;

}

a {
color: white;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}
